[package]
name = "npm_powertoys"
version = "0.1.0"
edition = "2021"
description = "A simple CLI tool for npm projects."
license = "MIT"
repository = "https://github.com/levminer/npm-powertoys"
keywords = ["npm", "cli", "update"]

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
reqwest = { version = "0.12", features = ["blocking", "json"] }
clap = { version = "4.3.19", features = ["derive"] }
dialoguer = "0.11"
walkdir = "2.3.3"
spinners = "4.1.0"
semver = "1.0.18"
colored = "3.0.0"

[[bin]]
name = "np"
path = "src/main.rs"
